<h1>食事記録更新</h1>
<section id="meal_form">
  <div class="meal_form-container">
    <%= form_with model: @meal, url: "/meals/#{@meal.id}", method: :patch, local: true do |f| %>
      <%= f.file_field :image %>
      <div class="form-group">
        <%= f.text_area :content, class: 'form-control', rows:5, required: true %>
        <%= f.submit "更新", class: 'btn btn-primary btn-block' %>
        <hr>
        <a class="btn btn-info btn-block" href="/meals" role="button">食事投稿一覧へ</a>
      </div>
    <% end %>
  </div>
</section>
