/*
 *= require flatpickr
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";

.graph-container {
  @extend .container-fluid;
  max-width: 768px;
  padding: 1rem;
}

.form-group {
  max-width: 700px;
}
