/*
 *= require flatpickr
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";

.graph-container {
  @extend .container-fluid;
  max-width: 768px;
  padding: 1rem;
}

h1 {
    margin-top: 1rem !important
}

.btn {
  margin-top: 1rem !important;
}

.form-group {
  margin-top: 1rem !important;
}

.card {
  margin-bottom: 1rem !important;
}

.card-header text-center {
  height: 200px;
}

.card-footer {
  height: 50px;
}

.pagination {
  justify-content: center;
  margin: 20px;
}

.movie {
  text-align: center;
  margin: 20px;
}
